$font-family: Open Sans,Helvetica Neue,Helvetica,Arial,Microsoft Yahei,sans-serif;

html {
	margin: 0;
	padding: 0;
	background: 0;
	box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, $font-family;
}

body {
	margin: 0;
	padding: 0;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}